body{
  background-image: url(https://i.pinimg.com/originals/06/15/26/061526c014287183c22e4383a5c18ee4.jpg);
}

h1{
  background-color:rgb(196, 145, 145);
  text-align: center;
  color:rgb(109, 85, 85);
  text-shadow: rgb(171, 194, 194) 1px 1px; 
}

table{
  background-color: rgb(241, 195, 190); 
  color:rgb(109, 85, 85);
  text-shadow: rgb(171, 194, 194) 1px 1px; 
  border: rgb(171, 194, 194) 2px solid;
  margin: auto;
}

form{
  width: 500px;
  border: rgb(171, 194, 194) 2px solid;
  margin: auto;
  background-color: rgb(241, 195, 190);
  color:rgb(109, 85, 85);
  text-shadow: rgb(171, 194, 194) 1px 1px; 
}
label{
  margin-top: 10px;
  text-align: center;
  display:block;
  padding: 5px;
}
#submit{
  margin: 10px 222px 10px 222px;
}
a{
  border: rgb(171, 194, 194) 2px solid;
  margin-left: 610px;
  font-size: 2em;
  text-decoration: none;
  color:rgb(109, 85, 85);
  text-shadow: rgb(171, 194, 194) 1px 1px;
  background-color: rgb(196, 145, 145);
}