*{
    background-color:rgb(127, 236, 255);
}

h1{
    display:inline-block;
    margin: 0px 0px 0px 525px;
    border: rgb(252, 169, 160) 10px dotted;
    background-image:linear-gradient(to bottom right, rgb(252, 169, 160),rgb(156, 39, 202),rgb(127, 236, 255));
    color: rgb(127, 236, 255);
    padding: 5px;
    font-size: 60px;
    text-shadow:rgb(252, 169, 160) 2px 2px;
}
h2{
    display:inline-block;
    margin: 15px 0px 10px 500px;
    color:rgb(116, 28, 151);
    text-shadow: rgb(252, 169, 160) 2px 2px;
}

p{
    background-color:rgb(252, 169, 160); 
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 17, 104);
    text-shadow: rgb(127, 236, 255) 1px 1px;
    width: 500px;
    height: 300px;
    margin: 10px 0px 0px 375px;
    border: rgb(116, 28, 151) inset 1px;
}