h1{
  background-color: springgreen;
}

ul{
  background: yellow;
}

ul li{
  color: red;
}

#singing{
  color: salmon;
}

.big{
  font-size: 100px;
}

h1{
  background-color: blue;
}

li{
  color:rgb(196, 87, 196);
}
